.faq {
  margin-bottom: 100px;

  @include vp-767 {
    margin-bottom: 79px;
  }

  .container {
    display: flex;

    @include vp-767 {
      display: block;
    }
  }

  &__title.title {
    margin-right: 98px;

    @include vp-767 {
      margin-right: 0;
      margin-bottom: 12px;
    }
  }

  &__content {
    margin: 0;
    padding-top: 30px;
    padding-left: 0;
    list-style: none;
    border-top: 1px solid $color-default-white;
  }

  &__item {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba($color-default-white, 0.2);
    cursor: pointer;
    user-select: none;
    transition: opacity 0.3s ease;

    @include vp-767 {
      padding-bottom: 20px;
    }

    @include hover-focus {
      opacity: 0.7;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @include vp-767 {
        margin-bottom: 20px;
      }
    }
  }

  &__questions,
  &__answer {
    margin: 0;
    font-weight: 400;
  }

  &__questions {
    font-size: 24px;
    line-height: 35px;
  }

  &__answer {
    padding-top: 0;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    .faq__item.open & {
      opacity: 1;
      visibility: visible;
      height: max-content;
      padding-top: 30px;

      @include vp-767 {
        padding-top: 20px;
      }
    }
  }
}
