.slider-block {
  margin-bottom: 150px;
  background-color: transparent;

  &__content {
    margin-top: 0;
    margin-bottom: 55px;
    padding-left: 0;
    list-style: none;
  }

  &__swiper.swiper {
    overflow: visible;
  }

  &__item.swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 650px;
    padding: 91px 0;
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title.title {
    margin-top: auto;
    margin-bottom: 20px;
    padding: 0 50px;
  }

  &__text {
    margin: 0;
    padding: 0 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    min-height: 24px;
  }

  &__control {
    display: flex;
    justify-content: center;
  }

  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
    color: inherit;

    @include hover-focus {
      color: $color-screamin-green;
    }

    &--prev {
      margin-right: 32px;
    }

    &--next {
      transform: rotate(180deg);
    }
  }
}
