//colours
$color-default-white:    #ffffff;
$color-jaguar:                 #0b0a0d;
$color-screamin-green:    #75ff72;
$color-default-black:   #000000;
$color-red:    #ff0000;
$color-haiti:   #312f35;

// Viewport
$vp-1024: 1024px;
$vp-768: 768px;



