//colours
$color-default-white:    #ffffff;
$color-jaguar:                 #0b0a0d;
$color-screamin-green:    #75ff72;

// Viewport
$tablet-max-width: 1023px;
$mobile-max-width: 767px;
$desktop-min-width: 1024px;


